.Order{
    float:left;
    width:48%;
    height:48%;
}
.Delivery{
    float:left;
    width:48%;
    height:24%;
}
.Product{
    float:right;
    width:24%;
    height:24%;
}
.Qc{
    float:right;
    width:24%;
    height:24%;
}