<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/productInformation.css}" rel="stylesheet" type="text/css">
    <title>제품정보</title>
    <script>
        function saveExel(){
            let f=confirm("저장 하시겠습니까?")
            if(f)
                location.href="saveExelAll.csv"; //Controrller 기능으로 연결..
        }

        function back() {
            let f=confirm("메인페이지로 가시겠습니까?")
            if(f)
                location.replace("main");
        }

        function changePageShowAll() {

            let showAll = document.getElementById("showAll")
            let showOrder = document.getElementById( "showOrder")
            let showProduct = document.getElementById("showProduct")


            alert("주문완료창으로 이동합니다.");
            showOrderName.style.display ="none"
            showAllName.style.display="block"
            showProductName.style.display="none"
            showAll.style.display="block"
            showOrder.style.display="none"
            showProduct.style.display="none"
        }

        function changePageShowOrder(){
            let showAll = document.getElementById("showAll")
            let showOrder = document.getElementById( "showOrder")
            let showProduct = document.getElementById("showProduct")

            alert("주문진행중으로 이동합니다.");
            showOrderName.style.display="block"
            showAllName.style.display="none"
            showProductName.style.display="none"
            showAll.style.display="none"
            showOrder.style.display="block"
            showProduct.style.display="none"
        }
        function changePageShowProduct(){
            let showAll = document.getElementById("showAll")
            let showOrder = document.getElementById( "showOrder")
            let showProduct = document.getElementById("showProduct")

            alert("제품현황으로 이동합니다.");
            showOrderName.style.display="none"
            showAllName.style.display="none"
            showProductName.style.display="block"
            showAll.style.display="none"
            showOrder.style.display="none"
            showProduct.style.display="block"
        }
    </script>
</head>
<body>
    <div class=logo align="center">
        <img alt="" src="../static/img/gld_logo_main.png">
    </div>
<!--    <h1 align="center">발주서목록</h1>-->
    <h1 id="showAllName" align="center">주문완료</h1>
    <h1 id="showOrderName" align="center">주문진행중</h1>
    <h1 id="showProductName" align="center">제품현황</h1>
    <div class="topnav">
        <a href="javascript:changePageShowAll()">주문완료</a>
        <a href="javascript:changePageShowOrder()">주문진행중</a>
        <a href="javascript:changePageShowProduct()">제품현황</a>
    </div>
    <div id="showAll" align="center">
        <table>
            <thead>
                <tr>
                    <th>발주번호</th>
                    <th>발주처</th>
                    <th>세금계산서</th>
                    <th>납품처</th>
                    <th>납품요구번호</th>
                    <th>납품담당자</th>
                    <th>입고일</th>
                    <th>출고일</th>
                    <th>락키번호</th>
                    <th colspan="3">시리얼번호</th>
                    <th>검수일</th>
                    <th>제품상태</th>
                    <th>검수담당자</th>
                    <th>비고</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="list : ${list}" bgcolor="#f0f8ff">
                    <td th:text="${list.getOrderNo()}"></td>
                    <td th:text="${list.getOrderInc()}"></td>
                    <td th:text="${list.getTaxInvoice()}"></td>
                    <td th:text="${list.getDeliveryInc()}"></td>
                    <td th:text="${list.getDeliveryRequestNo()}"></td>
                    <td th:text="${list.getDeliveryCharge()}"></td>
                    <td th:text="${#dates.format(list.getDeliveryDate(),'yyyy-MM-dd')}"></td>
                    <td th:text="${#dates.format(list.getReceiptDate(),'yyyy-MM-dd')}"></td>
                    <td th:text="${list.getLockeyNo()}"></td>
                    <td th:text="${list.getModel()}"></td>
                    <td th:text="${list.getLicenseNo()}"></td>
                    <td th:text="${list.getProductNo()}"></td>
                    <td th:text="${#dates.format(list.getQcDate(),'yyyy-MM-dd')}"></td>
                    <td th:text="${list.getQc()}"></td>
                    <td th:text="${list.getQcCharge()}"></td>
                    <td th:text="${list.getRemarks()}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="showOrder" align="center">
        <table>
            <thead>
            <tr>
                <th>발주번호</th>
                <th>발주처</th>
                <th>세금계산서</th>
                <th>납품처</th>
                <th>납품요구번호</th>
                <th>납품담당자</th>
                <th>출고일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list1 : ${list1}" bgcolor="#f0f8ff">
                <td th:text="${list1.getOrderNo()}"></td>
                <td th:text="${list1.getOrderInc()}"></td>
                <td th:text="${list1.getTaxInvoice()}"></td>
                <td th:text="${list1.getDeliveryInc()}"></td>
                <td th:text="${list1.getDeliveryRequestNo()}"></td>
                <td th:text="${list1.getDeliveryCharge()}"></td>
                <td th:text="${#dates.format(list1.getDeliveryDate(),'yyyy-MM-dd')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="showProduct" align="center">
        <table>
            <thead>
                <tr>
                    <th>제품번호</th>
                    <th>입고일</th>
                    <th>제품상태</th>
                    <th>검수일</th>
                    <th>검수담당자</th>
                    <th>비고</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="list2 : ${list2}" bgcolor="#f0f8ff">
                    <td th:text="${list2.getProductNo()}"></td>
                    <td th:text="${#dates.format(list2.getReceiptDate(),'yyyy-MM-dd')}"></td>
                    <td th:text="${list2.getQc()}"></td>
                    <td th:text="${#dates.format(list2.getQcDate(),'yyyy-MM-dd')}"></td>
                    <td th:text="${list2.getQcCharge()}"></td>
                    <td th:text="${list2.getRemarks()}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class=confirm align="center">
        <button type="button" onclick="saveExel()">save</button>
        <button type="button" onclick="back()">back</button>
<!--        <form action ="/selectAll" method="post">-->
<!--            <button type="button" id="rowStart" value="1" onclick="pagingPlus()">이전페이지</button>-->
<!--            <button type="button" id="nextPage" onclick="logout()">다음페이지</button>-->
<!--        </form>-->
    </div>
</body>
</html>